/*
COLOR SCHEME FROM COOLERS.CO
--------------------------------
CSS HEX
  charcoal: #264653ff;
  persian-green: #2a9d8fff;
  orange-yellow-crayola: #e9c46aff;
  sandy-brown: #f4a261ff;
  burnt-sienna: #e76f51ff;

CSS RGBA
  charcoal: rgba(38, 70, 83, 1);
  persian-green: rgba(42, 157, 143, 1);
  orange-yellow-crayola: rgba(233, 196, 106, 1);
  sandy-brown: rgba(244, 162, 97, 1);
  burnt-sienna: rgba(231, 111, 81, 1);

CSS HSL
  charcoal: hsla(197, 37%, 24%, 1);
  persian-green: hsla(173, 58%, 39%, 1);
  orange-yellow-crayola: hsla(43, 74%, 66%, 1);
  sandy-brown: hsla(27, 87%, 67%, 1);
  burnt-sienna: hsla(12, 76%, 61%, 1);
-------------------------------- */


  /* Fonts --------------------- */
  @font-face {
    font-family: karlaRegular;
    src: url(fonts/Karla/Karla-Regular.ttf);
  }

  @font-face {
    font-family: karlaBold;
    src: url(fonts/Karla/Karla-Bold.ttf);
  }

  @font-face {
    font-family: karlaBoldItalic;
    src: url(fonts/Karla/Karla-BoldItalic.ttf);
  }

  @font-face {
    font-family: karlaItalic;
    src: url(fonts/Karla/Karla-Italic.ttf);
  }

  @font-face {
    font-family: sourceSerifPro-bold;
    src: url(fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf);
  }
  /* --------------------------- */


/* GLOBAL STYLES --------------- */

html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: karlaRegular, sans-serif;
  font-size: 1.1rem;
  box-sizing: inherit;
  /* width: 90%; */
  /* margin: 5% auto; */
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: karlaBold, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #264653ff;
  /* width: 100%; */
  text-align: center;
  margin: 0;
}

h3 {
  font-family: karlaBoldItalic, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  color: #e76f51ff;
  /* margin-left: -10%; */
}

/* No buttons currently on page

.btn {
  color: #e9c46aff;
  background: #264653ff;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 10px auto;
}

.btn:hover {
  text-decoration: none;
  background-color: rgba(38, 70, 83, 1, .5);
}
*/

.content-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
}




/* ABOUT/PROFILE
-------------------------------- */
header {
  background-color: rgba(244, 162, 97, .25);
}

h1 {
  font-family: sourceSerifPro-bold, serif;
  font-style: bold, italic;
  font-size: 4rem;
  text-align: center;
  color: #264653ff;
}




/* PROJECTS/PORTFOLIO
-------------------------------- */

.portfolioBlock {

}

.portfolioSection {
  overflow: hidden;
}

img {
  max-width: 30%;
  padding: 25px 10px;
  margin: auto;
}

.pictureGroup {
  display: block;
  width: 90%;
}


/* WORK EXPERIENCE
-------------------------------- */
.workBlock {

}


/* EDUCATION/CERTIFICATIONS
-------------------------------- */
.educationBlock {

}


/* CONTACT/SOCIAL MEDIA (FOOTER)
-------------------------------- */
footer {
  background-color: rgba(244, 162, 97, .25);
}

footer h2 {
  font-family: SourceSerifPro-bold, serif;
  text-align: center;
}

footer ul li {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 10px auto;
}

footer a {
  font-family: karlaBold, sans-serif;
  font-size: 1.2rem;
  color: #264653ff;
}
